*{
    box-sizing: border-box;
}

body{
    background: #beebebbe;
    background: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header h1{
    text-align: center;
    font-size: 100px;
    color: #805583be;
    font-family: fantasy;
    text-decoration-line: underline;
    letter-spacing: 3px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.image-items{
    background-color: #c2a3cf;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.image-items img{
    background-color: #999;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    max-width: 90;
    margin-top: 10px;
}

.image-item-description p{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 100%;
    text-align: center;
}

.image-item-description p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    font-family: cursive;
    font-size: 10px;
}

.text-a img{
    padding: 20px;
    border-radius: 500px;
    margin: 10px;
    width: 200px;
    height: 200px;
}

